
Assets/.DS_Store

Library/

Logs/

Temp/__Backupscenes/

Temp/

Assets/Fingers/

Assets/Kino/

Assets/Scripts/.DS_Store

Assets/Real Stars Skybox/.DS_Store

Assets/Real Stars Skybox/

Assets/TextMesh Pro/

*.cache

*.csproj

.vs/Unity-Galaxy-Map/v16/

Builds/

MemoryCaptures/

*.apk

Assets/HiRezSpaceshipsCreatorFree/

Assets/HiRezSpaceshipsCreatorFree.meta

.DS_Store

Assets/MEGA SFX PACK Game Sound Solutions/

Assets/MEGA SFX PACK Game Sound Solutions.meta

Builds-Starvest/

Assets/Science Police Turret/

Assets/Science Police Turret.meta

Starvest-Builds/

starvest-webgl-build/

starvest-webgl-build-debug/
